@font-face {
    font-family: 'Norse Bold';
    src: url(fonts/norse-bold.otf) format("opentype");
}

:root {
    --first-subcontainer-width: 35%;
    --second-subcontainer-width: calc(100% - var(--first-subcontainer-width));
    --second-container-height: 35%;
    --third-container-height: calc(100% - (var(--second-container-height) + var(--fourth-container-height)));
    --fourth-container-height: var(--second-container-height);
}

p {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    height: 100%;
    font-family: sans-serif;
}


.main-container {
    display: flex;
    margin: 0;
    height: 100%;
    width: 100%
}

.first-subcontainer {
    background-color: black;
    background-image: url("images/background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--first-subcontainer-width);
    
    
}

.second-subcontainer {
    display: flex;
    flex-direction: column;
    width: var(--second-subcontainer-width);    
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;

}

.logo-text {
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: 100px;
    margin: 0;
}

.logo {
    width: 100px;
    height: auto;
}

.credit {
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
}

.first-subcontainer a {
    color: white;
    text-decoration-color: white;
}


.second-container {
    background-color: rgb(239, 236, 236);
    height: var(--second-container-height);
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 100px;
    box-sizing: border-box;
}

.first-line, .second-line {
    font-weight: bold;
    font-size: 20px;
}

.first-line {
  margin-bottom: 20px;
}

.third-container {
    height: var(--third-container-height);
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 30px;
    gap: 20px;
    box-sizing: border-box; 
}

.inputs {
    display: flex;
    gap: 60px;
}

.first-inputs, .second-inputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid gray;
}

label {
    font-size: 12px;
}

.text-above-inputs {
    font-weight: bold;
    font-size: 20px;
}

input[type='password']:invalid {
    border-color: red;
}
input:focus {
    outline: none;
    border-color: blue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.fourth-container {
    height: var(--fourth-container-height);
    padding-left: 40px;
    padding-top: 20px;
    background-color: rgb(239, 236, 236);
    box-sizing: border-box;
}

button {
    background-color: #596D48;
    color: white;
    padding: 10px 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 25px;
    cursor: pointer;
}

.fourth-container a {
    color: #596D48;
    text-decoration: none;
    
}

.fourth-container p {
    font-size: 15px;

}